@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color:#d63f3f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    width: 29%;
    margin-right: 40px;
    display: inline-flex;    
    margin-top: 30px;
}

.wrapper{
    min-height: 100vh;
    background-color: var(--dark-color);
}

.wrapper .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo{
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
}

.logo p{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
}

.logo p span{
    color: var(--yellow-color);
}

.menu-list {
    color: #fff;
    justify-content: left;
    margin: 15px;
    margin-left: 650px;
    font-weight: bold;
    display: flex;
    list-style: none;
}

.menu-list-item {
    color: rgb(255, 255, 255);
    margin-right: 30px;
  }

.container{
    display: flex;
}

.ranking-options-list{
    font-size: 2rem;
    margin-top: 50px;
}


.ranking-options-item1{
    margin: 105px;
    font-weight: bold;
    display: inline;
    list-style: none;
}

.ranking-options-item2{
    margin: 162px;
    font-weight: bold;
    display: inline;
    list-style: none;
}

.ranking-options-item3{
    margin: 130px;
    font-weight: bold;
    display: inline;
    list-style: none;
}

